@charset "utf-8";
/* CSS Document */



*{
		    box-sizing: border-box;
			margin: 0;
			padding: 0;	
		}
		
	
    	header{
			position: relative;
			background-color: none;
			width: 960px;
			margin: 0 auto;
			
			overflow: visible;
			padding-top: 15px;
			
			}
			
		nav{
		  
		   background-color: red;	
		   width: 404px;
		   position: relative;
		   left: 58%;
		   
		   border-top-left-radius: 5px;
		   overflow: auto;
		   
		}
    
	   .container-fluid{
		   
		   background-color: #F03;
		   width: 960px;
		   margin: 0 auto;
		   height: 900px;
		   padding: 10px;
		   
		   border-top-left-radius: 10px;
		  
		   }	
		   
	    footer{
		   background-color: green;
		   clear: both;
		   width: 960px;
		   margin: 0 auto;
		   height: 200px;
		   position: relative;
		   top: 50px;
			}
		
		
			
		ul{
			/* border: 2px solid yellow; */
			
			list-style: none;
			
			
			
		}
		
		ul li{
			float: left;
	        padding: 10px; 
			background-color: white;	
			height: 40px;
			margin: 5px;
			
		}
		
		
		
		
		img{
			border: 2px solid black;
			width: 100%;
			height: auto;
			border-radius: 10px;
			
		}
		
		p{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.2em;
			color: white;
			
		}
		a{
		    
			text-decoration: none;
			
			
			}
		a:hover{
			color: black;
		}
		
		a:active{
			font-size:1.1em;
			
			}
	    a:hover li.south{
			background-color: pink;
			}		
	
		@media screen and (max-width: 767px){
			header{
				width: 100%;
				overflow: visible;
				padding-top: 0px;
				}
			
			.container-fluid{
				background-color: pink;
				width: 100%;
				border-radius: 0;
				margin-top: 2px;
				
				}
			footer{
				width: 100%;
				}
			nav{
				left: 0;
				width: 100%;
				margin-top: 0;
				border-top-left-radius: 0;
			}	
			
				
		
		   ul li{
			float: none;
		    padding: 10px;
			height: 44px;
			background-color: pink;	
			text-align: center;
			margin: 2px;
		  }		
		
		}